<h4><%= title %></h4>

<form action="/users/forgotPassword" method="POST">
    <p>Please type your email and information will sent to your mail</p>
    <input type="email" required name="email" placeholder="Enter email">
    <input type="submit" value="Submit" />
</form>