<h4><%= title %></h4>

<form action="/resetPassword/<%= token %>" method="POST">
    <input type="text" required name="newPassword" placeholder="Enter password">
    <input type="text" required name="confirmPassword" placeholder="Enter confirm password">
    <input type="submit" value="Submit" />
</form>