footer {
  margin: 0;
  width: 100%;
  background-color: grey;

  ul {
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;

    li {
      margin: 15px auto;
      font-size: 1rem;
      font-weight: 600;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: white;

      a {
        text-decoration: none;
        background-color: none;
        color: inherit;
      }
    }
  }

  h5 {
    margin: 0;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    padding: 0.5rem;
  }
}
